<!-- Main container -->
<div class="max-w-screen-2xl mx-auto px-4 sm:px-8 py-4 flex flex-col min-h-screen">
  <!-- Header -->
  <header class="relative z-30 flex justify-between items-center py-6">
    <a routerLink="/work" class="text-2xl font-display font-bold tracking-wider cursor-pointer">I<span class="text-red-500">8</span></a>
    <nav class="hidden md:flex items-center space-x-8 font-bold text-sm uppercase tracking-wider">
      <a routerLink="/work" routerLinkActive="router-link-active" [routerLinkActiveOptions]="{exact: true}">Work</a>
      <a routerLink="/about" routerLinkActive="router-link-active">About</a>
      <a routerLink="/contact" routerLinkActive="router-link-active">Contact</a>
    </nav>
  </header>

  <!-- Main content rendered by the router -->
  <main class="flex-grow">
    <router-outlet></router-outlet>
  </main>

  <!-- Footer -->
  <footer class="text-center py-8 text-neutral-500 text-xs uppercase tracking-widest">
     <p>&copy; {{ currentYear }} I8. ALL RIGHTS RESERVED.</p>
  </footer>
</div>
